body {
    font-family: 'Ubuntu', sans-serif;
    background: #f7f7f7;
    overflow-x: hidden;
    /*margin-bottom: 60px;*/
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
    padding: 2px 16px;
    border:1px solid #9d9d9d; 
}

.fa-btn {
    margin-right: 6px;
}

.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    height: 60px;
    background-color: #373a3c!important;
}

.footer-text{
    margin: 20px;
    color: #9d9d9d;
}

.panel-home{
    min-height: 230px;
}

.footer-link{
    color: #9d9d9d;
}

.dataTables_wrapper{
    padding: 10px;
}

.marquee { 
}

.marquee p{
   color: red;
   height: 100%;
   padding: 10px 0px 10px;
   line-height: 15px;
   text-align: center;
   /* Starting position */
   -moz-transform:translateX(100%);
   -webkit-transform:translateX(100%);    
   transform:translateX(100%);
   /* Apply animation to this element */  
   -moz-animation: example1 20s linear infinite;
   -webkit-animation: example1 20s linear infinite;
   animation: example1 20s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
   0%   { -moz-transform: translateX(100%); }
   100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
   0%   { -webkit-transform: translateX(100%); }
   100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
   0%   { 
       -moz-transform: translateX(100%); /* Firefox bug fix */
       -webkit-transform: translateX(100%); /* Firefox bug fix */
       transform: translateX(100%);       
   }
   100% { 
       -moz-transform: translateX(-100%); /* Firefox bug fix */
       -webkit-transform: translateX(-100%); /* Firefox bug fix */
       transform: translateX(-100%); 
   }
}




